@model RegisterViewModel

<a href="https://localhost:44345/dev/DevPage" class="link-warning">/Dev/DevPage</a>
<br>
<br>

<form asp-controller="Register" asp-action="Register" method="post">
    @*<input type="hidden" asp-for="ReturnUrl" />*@
    <div class="mb-3">
        <label for="Username" class="form-label">Username</label>
        <input class="form-control" asp-for="Username">
        <span asp-validation-for="Username"></span>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">ConfirmPassword</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
@*<div>
        <a asp-route-returnUrl="@Model.ReturnUrl"></a>
    </div>*@



